<div style="display: flex; flex-direction: column; justify-content: space-between; height: 100vh;background-color: rgb(235, 210, 192);" >
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <app-first></app-first>
      <app-second></app-second>
    </div>
    <div style="justify-content: center;align-self: center;" >
      <app-center></app-center>
    </div>
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <app-third></app-third>
      <app-fourth></app-fourth>
    </div>
  </div>
