.home{
margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: center;
background-color: rgb(250, 222, 215);
border: 2px solid rgb(122, 114, 104) ;
width: 300px
}
.home p{
    font-weight: bold;
}
.answer{
    cursor: pointer;
}